#nome-logo{
    font-family: Georgia, serif;
    cursor:pointer;
    user-select:none;
}

#formlogin{
    margin-top: 70px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

a{
  text-decoration: none;
  color: white;
}

.div-saltar{
  transition: transform 0.3s ease;
}

.div-saltar:hover {
  transform: translateY(-10px);
}
